# 04 - Grouping

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [7]:
#intento errado
drinks.loc[drinks.beer_servings.idxmax()].at["country"]

'Namibia'

In [16]:
drinks[drinks["country"] == "Namibia"]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
117,Namibia,376,3,1,6.8,AF

In [8]:
drinks.groupby("continent").beer_servings.sum().index.values.max()

'SA'

### Step 5. For each continent print the statistics for wine consumption.

In [18]:
drinks.groupby("continent").wine_servings.sum()

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [19]:
drinks.groupby("continent").total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [25]:
#He entendido que el ejericio me pide que los continentes sean las columnas
drinks.groupby("continent").median().transpose()

continent                       AF    AS     EU     OC      SA
beer_servings                 32.0  17.5  219.0  52.50  162.50
spirit_servings                3.0  16.0  122.0  37.00  108.50
wine_servings                  2.0   1.0  128.0   8.50   12.00
total_litres_of_pure_alcohol   2.3   1.2   10.0   1.75    6.85

### Step 8. Print the mean, min and max values for spirit consumption.

In [48]:
drinks.spirit_servings.aggregate(['min', "mean", "max"])

min       0.000000
mean     80.994819
max     438.000000
Name: spirit_servings, dtype: float64