## Ejercicio 1
Importa la libreria de `pandas` y `numpy`. ¿Qué versión de la librería `pandas` tienes?

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [3]:
df = pd.read_csv("laliga.csv")

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [4]:
df[0:4]

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [5]:
ejer_4 = np.array(df.values)
ejer_4

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [6]:
df.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`.

- Madrid: 6685471
- Galicia: 2698764
- Murcia: 1494442
- Andalucía: 8446561

In [7]:
dict_poblacion = {"Madrid": 6685471, "Galicia": 2698764, "Murcia": 1494442, "Andalucia": 8446561}

poblacion = pd.Series(dict_poblacion)
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [8]:
array_poblacion = np.array(poblacion)
array_poblacion

array([6685471, 2698764, 1494442, 8446561], dtype=int64)

In [9]:
array_poblacion_indice = np.array(poblacion.index)
array_poblacion_indice

array(['Madrid', 'Galicia', 'Murcia', 'Andalucia'], dtype=object)

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [10]:
poblacion[0]

6685471

In [11]:
poblacion["Galicia"]

2698764

In [12]:
poblacion["Galicia":"Andalucia"]

Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

In [13]:
"Galicia" in poblacion.index

True

In [14]:
print("1.", poblacion.iloc[0], "\n2.", poblacion.loc["Galicia"], "\n3.", poblacion.loc["Galicia":"Andalucia"])

1. 6685471
2. 2698764
3. Galicia      2698764
Murcia       1494442
Andalucia    8446561
dtype: int64

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

- Madrid: 9.99
- Galicia: 11.74
- Murcia: 16.08
- Andalucía: 20.8

In [15]:
dict_paro = {"Madrid": 9.99, "Galicia": 11.74, "Murcia": 16.08, "Andalucia": 20.8}
paro = pd.Series(dict_paro)
paro

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucia    20.80
dtype: float64

In [16]:
data_dict = {"Población": poblacion.values, "Paro": paro.values}
data = pd.DataFrame(data_dict, index=poblacion.index)
data

           Población   Paro
Madrid       6685471   9.99
Galicia      2698764  11.74
Murcia       1494442  16.08
Andalucia    8446561  20.80

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [17]:
print(data["Población"])

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucia    8446561
Name: Población, dtype: int64

In [18]:
print(data["Paro"])

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucia    20.80
Name: Paro, dtype: float64

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

- Madrid: 8028
- Galicia: 29575
- Murcia: 11314
- Andalucía: 87599

In [19]:
list_superficie = [8020, 29575, 11314, 87599]
data2 = data
data2["Superficie"] = list_superficie
data2

           Población   Paro  Superficie
Madrid       6685471   9.99        8020
Galicia      2698764  11.74       29575
Murcia       1494442  16.08       11314
Andalucia    8446561  20.80       87599

## Ejercicio 12
Calcula la densidad de población (hab/km^2) en una nueva columna del dataframe `data2` que se llame `Densidad`.

In [20]:
data2["Densidad"] = data2["Población"] / data2 ["Superficie"]
data2

           Población   Paro  Superficie    Densidad
Madrid       6685471   9.99        8020  833.599875
Galicia      2698764  11.74       29575   91.251530
Murcia       1494442  16.08       11314  132.087856
Andalucia    8446561  20.80       87599   96.423030