# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import random
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [4]:
s_1 = pd.Series(np.random.randint(1,5,100))
s_1

0     4
1     2
2     1
3     3
4     3
     ..
95    3
96    1
97    2
98    4
99    4
Length: 100, dtype: int32

In [5]:
s_2 = pd.Series(np.random.randint(1,4,100))
s_2

0     2
1     1
2     3
3     2
4     2
     ..
95    2
96    2
97    3
98    3
99    1
Length: 100, dtype: int32

In [6]:
s_3 = pd.Series(np.random.randint(10000,50000,100))
s_3

0     16100
1     20041
2     22665
3     12975
4     32838
      ...
95    47013
96    36984
97    38029
98    31735
99    11785
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [18]:
df = pd.concat([s_1,s_2,s_3], axis=1)
df

    0  1      2
0   4  2  16100
1   2  1  20041
2   1  3  22665
3   3  2  12975
4   3  2  32838
.. .. ..    ...
95  3  2  47013
96  1  2  36984
97  2  3  38029
98  4  3  31735
99  4  1  11785

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [20]:
df.columns = ["bedrs", "bathrs", "price_sqr_meter"]
df

    bedrs  bathrs  price_sqr_meter
0       4       2            16100
1       2       1            20041
2       1       3            22665
3       3       2            12975
4       3       2            32838
..    ...     ...              ...
95      3       2            47013
96      1       2            36984
97      2       3            38029
98      4       3            31735
99      4       1            11785

[100 rows x 3 columns]

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [49]:
bigcolumn = s_1.append([s_2,s_3])

In [50]:
bigcolumn

0         4
1         2
2         1
3         3
4         3
      ...
95    47013
96    36984
97    38029
98    31735
99    11785
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [34]:
bigcolumn.shape[0]

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [52]:
index = range(0,299)
bigcolumn.reindex(index)

ValueError: cannot reindex from a duplicate axis

In [54]:

bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          4
1          2
2          1
3          3
4          3
       ...
295    47013
296    36984
297    38029
298    31735
299    11785
Length: 300, dtype: int32