# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [70]:
student_list = ["Armando", "Pepe", "David", "Lara"]

### Exercise 2

1. Create an empty list, call it **empty_list**

In [71]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [72]:
my_list = [0, 3, "cable", 0.7, 8]

3. Find the length of **my_list**

In [73]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [74]:
my_list [0]
my_list [2]
my_list [-1]

8

In [75]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

0
cable
8

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [76]:
name = "carlos"
age = 20
height = 1.60
country = "sudán"
python_version = 3.7.4

SyntaxError: invalid syntax (<ipython-input-76-c8ae9a35d630>, line 5)

In [12]:
name = "carlos"
age = 20
height = 1.60
country = "sudán"
python_version = 3.7

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [13]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [18]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]


8. Print **it_companies** using print()

In [19]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [20]:
print(len(it_companies))

7

11. Print *Google*

In [22]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [23]:
print(it_companies[0], it_companies[3], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [24]:
it_companies[-1] = "Mcdollar"

12. Print the list after modifying one of the companies

In [25]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Mcdollar']

## Bonus track.

13. Add an IT company to **it_companies**

In [27]:
it_companies.append("Clariba")

14. Check if *Apple* exists in the **it_companies** list.

In [32]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Mcdollar', 'Clariba']

15. Sort the list using `sort()` method

In [33]:
sort(it_companies)

NameError: name 'sort' is not defined

In [35]:
it_companies.sort()
it_companies

['Apple',
 'Clariba',
 'Facebook',
 'Google',
 'IBM',
 'Mcdollar',
 'Microsoft',
 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [37]:
it_companies.reverse()
it_companies

['Oracle',
 'Microsoft',
 'Mcdollar',
 'IBM',
 'Google',
 'Facebook',
 'Clariba',
 'Apple']

17. Slice out the first 3 companies from the list

In [42]:
it_companies.remove(0) * 3

ValueError: list.remove(x): x not in list

In [44]:
it_companies.pop(0)
it_companies.pop(0)
it_companies.pop(0)

'Mcdollar'

18. Remove the last IT company from the list

In [46]:
it_companies.remove
it_companies

['IBM', 'Google', 'Facebook', 'Clariba', 'Apple']

19. Remove all IT companies from the list

In [47]:
it_companies.del

SyntaxError: invalid syntax (<ipython-input-47-162c26166323>, line 1)

In [89]:
it_companies.clear()

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [49]:
end = [['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node','Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [50]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [51]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [78]:
tup = ("T",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [65]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [60]:
#Tenemos que convertir la tipologia de tupla a lista para poder efectuar la integración de nuevas posiciones en nuestra colección.

tup = list(tup)
tup.append("H", "E", " ", "B", "R", "I", "D", "G", "E")
tup = tuple(tup)
tup

TypeError: append() takes exactly one argument (9 given)

In [79]:
#Tenemos que convertir la tipologia de tupla a lista para poder efectuar la integración de nuevas posiciones en nuestra colección.

tup = list(tup)
tup.append("H")
tup.append("E")
tup.append(" ")
tup.append("B")
tup.append("R")
tup.append("I")
tup.append("D")
tup.append("G")
tup.append("E")
tup = tuple(tup)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [81]:
#Pues uno por uno, por cada posición, modifico y añado tub. Me da la sensación de que no es lo que se buscaba.

tup = list(tup)
tup[0] = "tup"
tup[1] = "tup"
tup[2] = "tup"
tup[3] = "tup"
tup[4] = "tup"
tup[5] = "tup"
tup[6] = "tup"
tup[7] = "tup"
tup[8] = "tup"
tup[9] = "tup"
tup =tuple(tup)
tup

('tup', 'tup', 'tup', 'tup', 'tup', 'tup', 'tup', 'tup', 'tup', 'tup')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [83]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [86]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [87]:
my_set[0]

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [88]:
my_set = list(my_set)
my_set[0]

'python'