### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types" (solo las keys)

![](df_pk.PNG)

In [51]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [52]:
answer = requests.get("https://pokeapi.co/api/v2/pokemon?offset=0&limit=5").json()
df_pokemons = pd.DataFrame(answer)
df_pokemons

,count,next,previous,results
0,1118,https://pokeapi.co/api/v2/pokemon?offset=5&lim...,None,"{'name': 'bulbasaur', 'url': 'https://pokeapi...."
1,1118,https://pokeapi.co/api/v2/pokemon?offset=5&lim...,None,"{'name': 'ivysaur', 'url': 'https://pokeapi.co..."
2,1118,https://pokeapi.co/api/v2/pokemon?offset=5&lim...,None,"{'name': 'venusaur', 'url': 'https://pokeapi.c..."
3,1118,https://pokeapi.co/api/v2/pokemon?offset=5&lim...,None,"{'name': 'charmander', 'url': 'https://pokeapi..."
4,1118,https://pokeapi.co/api/v2/pokemon?offset=5&lim...,None,"{'name': 'charmeleon', 'url': 'https://pokeapi..."

In [53]:
df2 = pd.DataFrame(answer["results"])
df2

         name                                   url
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/

In [63]:
listp = ["height","id","order", "weight","types"]
list_stats = []

for i,column in enumerate(listp):   
    for ix in range(len(df2)):
        stats = requests.get(df2["url"][ix]).json()
        list_stats.append(stats[column])
    df2[column] = list_stats[i*len(df2):i*len(df2)+len(df2)]

df2

,name,url,height,id,order,weight,types
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."

In [55]:
#listp = ["slot","type"]
#list_stats = []
#Dentro de types, hay una lista. Dentro hay un diccionario con slot y type donde cada 1 tiene 2 distintos. Por lo que hay que establecer jerarquía. Buscamos crear una columna slot y otra columna type, que asigne 1 y 2.
#for i,column in enumerate(listp):   
#    for ix in range(len(df2)):
#        stats = df2.types[i][1]
#        list_stats.append(stats[column])
#df2[column] = list_stats[i*len(df2):i*len(df2)+len(df2)]

#df2

In [59]:
separados = df2["types"].explode()
separados

0    {'slot': 1, 'type': {'name': 'grass', 'url': '...
0    {'slot': 2, 'type': {'name': 'poison', 'url': ...
1    {'slot': 1, 'type': {'name': 'grass', 'url': '...
1    {'slot': 2, 'type': {'name': 'poison', 'url': ...
2    {'slot': 1, 'type': {'name': 'grass', 'url': '...
2    {'slot': 2, 'type': {'name': 'poison', 'url': ...
3    {'slot': 1, 'type': {'name': 'fire', 'url': 'h...
4    {'slot': 1, 'type': {'name': 'fire', 'url': 'h...
Name: types, dtype: object

In [71]:
df2["type_1"] = separados.values
df2

ValueError: Length of values (8) does not match length of index (5)

In [65]:
df2["a"] = 1
df2

,name,url,height,id,order,weight,types,a
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",1
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",1
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ...",1
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '...",1
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '...",1

In [57]:
df2["types"]

0    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
1    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
2    [{'slot': 1, 'type': {'name': 'grass', 'url': ...
3    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
4    [{'slot': 1, 'type': {'name': 'fire', 'url': '...
Name: types, dtype: object