In [5]:
import pandas as pd
import json
import requests
import urllib

In [4]:
r = requests.get(url='https://datos.madrid.es/egob/catalogo/212504-0-agenda-actividades-deportes.json')
json_readed = json.loads(r.text)
df = pd.DataFrame(json_readed)
df

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [13]:
import urllib
url = 'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id=72fcd36f-6f52-432a-ad25-f4b288fa0082&limit=5&q=title:jones'
fileobj = urllib.request.urlopen(url)
json_readed = json.loads(url)
df = pd.DataFrame(json_readed)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [23]:
dataa = pd.read_csv("student-mat.csv")
dataa

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9